.skills h2 {
  margin: 1rem 0;
}
.skills .form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2rem;
}
.skills .form input {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: 2px solid var(--color-primary-veriant);
  resize: none;
  color: var(--color-white);
}
.skills p {
  margin: 10px 0;
}
.skills .deleteSkill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-bg-veriant);
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.skills .deleteSkill span {
  color: var(--color-primary);
  cursor: pointer;
}
